@font-face {
    font-family: "Digital";
    src: url("./Digital Numbers 400.ttf");
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.timer {
    font-family: 'Digital', sans-serif;
    font-size: 72px;
}

.buttons {
    width: 750px;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 150px;
}

.container {
    width: 950px;
    display: flex;
    justify-content: space-between;
}

.puzzle-box {
    width: 400px;
    height: 400px;
    background-color: gray;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.puzzle {
    width: 100px;
    height: 100px;
    position: relative;
    background-image: url(./Ashot.jpg);
    color: transparent;
    z-index: 99;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}